
html {
    box-sizing: border-box;
    scroll-behavior: smooth ;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  body{
    display: grid;
    margin:0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(251, 163, 163, 0.974);
    overflow-x: hidden;
}
body::-webkit-scrollbar{
  display:none;
}


section{
    margin:0;
    display:grid;
    position:relative;
    height: 100vh;
}


.intro{
    position: relative;
    text-align: center;
    grid-column: 1;
    grid-row: 1;
   height: 100vh;
background-color: #eda1b9;
}   
@media(max-width: 800px){
  .intro{
      height:50vh;
    }

    }



#Talk{
  color: rgb(72, 20, 20);
  size: 30rem;
  position: absolute;
  left:50%;
    top: 50%;
    transform: translate(-50%,-50%); 
   
}
.TopicHeading{
  color: rgb(72, 20, 20);
  font-size: 9vw;
  height: auto;
  text-align: center;
 width:100%;
  position:absolute;
  top:10%;
  left:50%;
  transform: translate(-50%,-50%); 
   z-index: 10;
}
#DefinitionHeading{
  color: rgb(72, 20, 20);
  font-size: 9vw;
  height: auto;
  text-align: center;
 width:100%;
  position:absolute;
  top:3%;
  left:30%;
  transform: translate(-50%,-50%); 
   z-index: 10;
   font-family: Dancing Script;
}

.ColumnsLeft{
  position:absolute;
  top:25%;
  left:32%;
  width:40vw;
height: auto;
font-size: 2.5vw;
transform:translate(-50%);

}
.ColumnsLeft,ul,li{
  padding-top:2%;
  padding-bottom:2%;
  list-style:none;
}

.ColumnsRight{
  position:absolute;
  top:25%;
  right:19%;
  width: 45vw;
height: auto;
font-size:2.5vw;

}
.ColumnsRight,ul,li{
  padding-top:2%;
  padding-bottom:2%;
  list-style:none;

}

#GreenEndPeriodPovertyCup{
  width:25vw;
  position: absolute;
  right:10%;
  top:50%;
  transform:translate(0%,-50%)
}

#introwords{
    position:absolute;
  
  margin-top:auto;
  font-size: 3vw;;
  width: 100%;
    z-index: 4;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  /*  left:50%;
    top: 50%;
    transform: translate(-50%,-50%); */
}



.WhatIsIt{
  background-color: #f8ede5;
    height:105vh;
}
@media(max-width:800px){
  .WhatIsIt{
    height: 50vh;
  }
}

#green_cup{
width:18vw;
position:absolute;
left:0%;
top:1%;

}
#pink_flower{
  width:20vw;
  position:absolute;
  right:0%;
  bottom:0%;
}
#pink_daughter{
  width:16vw;
  position:absolute;
  left:5%;
  top:85%;
  transform:translate(-50%,-50%);
}
#green_flower{
  width:25vw;
  position:absolute;
  right:0%;
  top:0
}

#flower{
    height:auto;
    width: 8vw;
    z-index:3;
    position:absolute;
    top:54%;
    left:50%;
    transform: translate(-50%,-50%); 
    

}



#moon-img{
   
  width:60vw;
  height: auto;
  position: absolute;
  z-index:2;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
   
}
#green-fern{
  width:30vw;
  z-index:0;
  height: auto;
  position: absolute;
  top:50%;
  left:80%;
  transform: translate(-50%);
}
#green-plant{
  width:20vw;
  z-index:0;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  height: auto;
  position: absolute;
  top:50%;
  left:10%;
 
}
#daughterBrown{
  width:27vw;
  z-index:0;
  height: auto;
  position: absolute;
  bottom:-1%;
  left:2%;
 animation: gaze 5.5s ease-out infinite}
@keyframes gaze{
  0%{transform:rotateZ(0deg);}
  
  50%{transform:rotateZ(-10deg);}
  
  100% { transform: rotateZ(0deg); }
}
#green_flower{
width:15vw;
position: absolute;
top:2%;
right:1%;
}
#spottyPinkPad{
  width:25vw;
  position:absolute;
  bottom:0%;
  right:2%;
}
#brownFern{
  width: 20vw;
  position:absolute;
  display:inline;
left:-10%;
top:1%;
}
#uterus{
  width:35vw;
  z-index:0;
  height: auto;
  position: absolute;
  top:10%;
  left:10%;
 
}
#panty{
  width:35vw;
  z-index:0;
  height: auto;
  position: absolute;
  top:10%;
  left:60%;
}
#WhatIsItWords{
    position: relative;

}
#WhatIsItWords .TopicHeading{
  top:20%;
}
#choices{
    display: block;
    position: absolute;
    top:75%;
    left:50%;
    transform: translate(-50%,-50%);


}
.topic{
  
    position: relative;
 margin:20px;
 padding:12%;
 border-radius: 50%;
 height: auto;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 text-align:center;
 color: rgb(72, 20, 20);


background: linear-gradient()
}


a{
  text-decoration: none;
  color: rgb(72, 20, 20);
 font-size: 2vw;

}a:hover{
  color:#eda1b9;
  
} 


.IntroToMenstrualCycle{
  background-color: #E8A0BB;
  height: 110vh;
}


.MenstrualCycleDefinition{
  background-color:rgb(250, 250, 250);
  height:110vh;
}


.MenstrualCycle{
 background-color:#EDE8EA;
 height:150vh;
}
@media(max-width:100px){
  .IntroToMenstrualCycle{
    height:40vh;
  }
  .MenstrualCycleDefinition{
    height:30vh;
  }
  .MenstrualCycle{
    height: 60vh;
  }
  .Period_Poverty{
    height: 30vh;
  }
}
#MenstrualCycle>.ColumnsLeft{
  position: absolute;
  left:30%;
  top:20%
}

/* Define a class for the fade-in animation */
.fade-in {
  animation: Fade-In 0.5s;
}
@keyframes Fade-In {
   0%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
  
}
/* Define the fade-out animation */
.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}
#menstrual_graph{
  /*background: conic-gradient(
    #4F81BD 45deg, #F0A6C6 45.05deg 150deg,#BC8EB6 150.05deg 210deg , #8064A2 210.05deg 360deg
    );*/
    position: absolute;
    left:50%;
    top: 1%;
    transform: translate(-50%);
    width: 38vw;
  height: 38vw;
  transform: rotate(-20deg);
  animation:floating 20s ease-in-out infinite;
    }
  @keyframes floating{
    0%{
      transform:  translateY(10px) rotate(0deg);
    }
    50%{
      transform:  translateY(-10px) rotate(10deg);
    }
    100%{
      transform: translateY(10px) rotate(0deg)
          }
  }
    #menstrual_graph::after{
      content: "";
      position: absolute;
      width: 50%;
      height: 50%;
      background-color: #EDE8EA;
      left:50%;
      top:50%;
      transform: translate(-50%,-50%);
      border-radius: 50%;
    }
    
    #menses_arc{
     
      position: absolute;
      width: 38vw;
      height: 38vw;
    background: conic-gradient(
      #4f81bd 45.05deg, transparent 45.05deg 150deg, transparent 150.05deg 210deg , transparent 210.05deg 360deg
    );
     border-radius: 50%;
   
    
  clip-path: polygon(49.8% 0%,49.8% 50%,60% 80%,100% 2%,50% -1%);
    }
    .menses_hover:hover{
      box-shadow: inset 0 0 100px rgb(73, 73, 73, 0.5);
      transition: box-shadow 0.2s ease-in;
    }
    .selected_menses_arc{
      box-shadow: inset 0 0 100px rgba(244, 223, 65, 0.5);
      transition: box-shadow 0.2s ease-in;
    }
    #menses_arc::before{
      content:'menstration';
      color: #ebedf1;
      font-size:2vw;
      position:absolute;
      right: 21%;
      top:12%;
      opacity: 60%;
    }
     #follicular_arc {
  
       position: absolute;
      
       width: 38vw;
       height: 38vw;
       background: conic-gradient(transparent 45.05deg, #f0a8c7 45.05deg 150deg, transparent 150.05deg 210deg, transparent 210.05deg 359deg);
       border-radius: 50%;
       
       clip-path: polygon(100% 0%,49.5% 50%, 78.7% 100%, 100% 100%);
  
     }
     .follicular_hover:hover{
      box-shadow: inset 0px 0px 100px rgba(73, 73, 73, 0.5);
      transition: box-shadow 0.2s ease-in;
     }
   
  .selected_follicular_arc{
    box-shadow: inset 0px 0px 100px rgba(226, 236, 29, 0.326);
    transition: box-shadow 0.2s ease-in;
  }
   
     #follicular_arc::before{
      content:'follicular';
      color: #6d3b3f;
      font-size:2vw;
      position:absolute;
      left: 78%;
      top:50%;
      opacity: 60%;
     }

  #ovulation_arc {
   
    position: absolute;
    
    width: 38vw;
    height: 38vw;
    background: conic-gradient(transparent 45deg, transparent 45.05deg 150deg, #BC8EB6 150.05deg 210deg, transparent 210.05deg 360deg);
    border-radius: 50%;
    
     clip-path: polygon(21% 100%,50% 50%,79.1% 100%)
  }
  .ovulation_hover:hover{
    box-shadow: inset 0px 0px 100px rgba(73, 73, 73, 0.5);
    transition: box-shadow 0.2s ease-in;
  }
  #ovulation_arc::before{
    content:'ovulation';
    color: #42161a;
    font-size:2vw;
    position:absolute;
    right: 40%;
    top:83%;
    opacity: 60%;
  }
  .selected_ovulation_arc{
    box-shadow: inset 0px 0px 100px rgba(244, 223, 65, 0.5);
    transition: box-shadow 0.2s ease-in;
  }
    #luteal_arc{
      
      position: absolute;
      
      width: 38vw;
      height: 38vw;
   background: conic-gradient(
    transparent 0deg 209deg , #8064A2 209deg 360deg 
    );
  border-radius: 50%;

  
    clip-path: polygon(0% 0%,0% 100%,21.5% 100%,50.15% 50%,50.15% 0%)
    }
    .luteal_hover:hover{
      box-shadow: inset 0px 0px 100px rgba(55, 37, 74, 0.5);
      transition: box-shadow 0.2s ease-in;
    }
   #luteal_arc::before{
    content:"luteal";
    color: #ffffff;
    font-size:2vw;
    position:absolute;
    left: 10%;
    top:35%;
    opacity: 60%;
   }
   .selected_luteal_arc{
    box-shadow: inset 0px 0px 100px rgba(244, 223, 65, 0.6);
    transition: box-shadow 0.2s ease-in;
   }

#MenstrualCycle > h1{
top:1%;
}
#Brown_Flower{
  width:15vw;
  z-index:0;
  height: auto;
  position: absolute;
  bottom:-2%;
  left:0%;
  opacity: 60%;
  animation: jiggle 5s ease-in-out infinite;
}
#graph{
  width:30vw;
  z-index:0;
  height: auto;
  position: absolute;
  bottom:20%;
  right:10%;
}


#GreenPeriodPower{
  width:25vw;
  position:absolute;
  top:55%;
  left:25%;
  transform:translate(-50%,-50%)
}
.Period_Poverty{
  height:150vh;
  padding-bottom: 20em;
}
@media (max-width: 800px) {
  .Period_Poverty{
    height:50vh;
  }
}
.Period_Poverty p{
color:#7c4a4a;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

hr{
  border-color:#e0caca;
  border-width: 2px;
  border-inline-end-style: hidden;
  border-inline-start-style: hidden;
  border-top: hidden;
}

#povertyUterus {
width: 35vw;
position:absolute;
bottom:30%;
left:20%;
opacity: 40%;
rotate:-15deg;

}

.Period_Struggles{
  background-color: #fcc8b9;
  height:120vh;
}
#Period_Struggles >.TopicHeading{
color:#3a6e63;
top:10%;
font-family:Dancing Script;
}
#inline_Struggle{
  position: absolute;
  width:100%;
  height: 100%;
  box-sizing: content-box;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  top:63%;
  left:50%;
  transform:translate(-50%,-50%);
}
.strugglePic{ 
margin:8%;
}

.strugglePic > img{
  display: block;
  width:100%;
  height:100%;
margin-left: auto;
margin-right:auto; 
}
.strugglePic > p{
  position: relative;
  text-align: center;
  color:#481414;
  font-size: 2em;
}

.achingImage_click{
  animation: jiggle 2.5s ease-in-out;
  
}

.painImage_click{
  animation: wobble 2.5s ease-in-out;
}
.stigmaImage_click{
  animation: shrink 2.5s ease-in-out;
}

#Debunking{
  background-color: rgb(58, 110, 99);
 height: fit-content;
}


#Myths{
  background-color: #eda1b9;
  height: fit-content;
}
#Myths h1{
  color:#481414;
  text-align: center;
  font-size:200%;
}
#Myths #mythHeading{
  width: 200px;
  position:absolute;
  display:inline;
  
}
#mythContainer{
  display: flex;
  flex-direction: column;
  height:80vh
}

#Myths .myth{
background-color: rgb(97, 20, 94);
color:#eda1b9;
height:50px;
text-align: center;
font-size:120%;
text-wrap: wrap;
}

#Myths .fact{
  background-color: #1c957b;
color:azure;
height:50px;
text-align: center;
border-top: #f8ede5;
border-width: 10px;
border-color: #e3d4d4;
font-size:120%;
text-wrap: wrap;
}
.jiggle  {
  
  animation: jiggle 5.5s ease infinite;
 
}
@media(max-width:100px){
  .IntroToMenstrualCycle{
    height:40vh;
  }
  .MenstrualCycleDefinition{
    height:30vh;
  }
  .MenstrualCycle{
    height: 60vh;
  }
  .Period_Struggles{
    height:50vh;
  }
  
}

@keyframes jiggle {
  0%{transform:rotateZ(0deg);}
  25%{ transform: rotateZ(-3deg); }
  50%{transform:rotateZ(-5deg);}
  75% { transform: rotateZ(3deg); }
  100% { transform: rotateZ(0deg); }
}

.wobble{
  animation: wobble 5.5s ease-in-out infinite
}
@keyframes wobble{
 0% {transform: skewY(0deg);}
25% { transform: skewY(5deg);}
75% { transform: skewY(0deg);}
100%{ transform: skewY(0deg);}
}

.shrink{
  animation: shrink 5.5s ease-in-out infinite
}

@keyframes shrink{
  0% {  transform: scale(1);}
  50%{transform: scale(0.9);}
  
}
.reveal{
  visibility: visible;
}
.hide{
  visibility: hidden;
}

.info_card_container{
position:relative;
left:50%;
top:40%;
transform: translate(-50%);
background-color: #4f81bd;
border-radius: 0.75rem;
height: fit-content;
width: fit-content;
}
.info_card{
width: 30vw;
height: 45vh;
background-color: #d6d6d6;
display: block;
border-radius: 0.75rem 0.75rem  0.3rem 0.3rem;
padding:2%;
font-size: 0.75em;
}
.info_myth{
  background-color: hsla(270, 68%, 35%, 0.5);
  
}
.info_fact{
background-color: hsla(167, 68%, 35%, 0.5);

}
.info_btns_container{
  
  display:block;
  text-align: center;
  margin-top: 2%;
  margin-bottom:2%;
  
}
.info_btn{
display:inline;
background-color: #fcc8b9;
border:none;
padding:5%;
border-radius: 0.5rem;
cursor:pointer;
color:#8064A2
}
 #fact:hover{
  background-color: #6ca088;
  transition: ease-in  0.15s;
}
#fact:focus{
  background-color: #f1ecec;
}
#myth:hover{
  background-color: #c1a7db;
  transition: ease-in  0.15s;
}



/**
This is a test for STYLE of the info card

*/




.tinder {
  width: 100vw;
  
  flex-direction: column;
  position:relative;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
  
}

.loaded.tinder {
  opacity: 1;
}

.tinder--status {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  z-index: 2;
  width: 100%;
  text-align: center;
  pointer-events: none;
}

.tinder--status i {
  font-size: 100px;
  opacity: 0;
  transform: scale(0.3);
  transition: all 0.2s ease-in-out;
  position: absolute;
  width: 100px;
  margin-left: -50px;
}

.tinder_love .fa-heart {
  opacity: 0.7;
  transform: scale(1);
}

.tinder_nope .fa-remove {
  opacity: 0.7;
  transform: scale(1);
}

.tinder--cards {
  flex-grow: 1;
  padding-top: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top:250px;
  z-index: 1;
}

.tinder--card {
  display: inline-block;
  width: 50vw;
  max-width: 400px;
  height: 70vh;
  background: #FFFFFF;
  padding-bottom: 40px;
  border-radius: 8px;
  overflow: hidden;
  position: absolute;
  will-change: transform;
  transition: all 0.3s ease-in-out;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}

.moving.tinder--card {
  transition: none;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}

.tinder--card img {
  max-width: 100%;
  pointer-events: none;
}

.tinder--card h3 {
  margin-top: 32px;
  font-size: 32px;
  padding: 0 16px;
  pointer-events: none;
}

.tinder--card p {
  margin-top: 24px;
  font-size: 20px;
  padding: 0 16px;
  pointer-events: none;
}

.tinder--buttons {
  flex: 0 0 100px;
  text-align: center;
  padding-top: 20px;
}

.tinder--buttons button {
  border-radius: 50%;
  line-height: 60px;
  width: 60px;
  border: 0;
  background: #FFFFFF;
  display: inline-block;
  margin: 0 8px;
}

.tinder--buttons button:focus {
  outline: 0;
}

.tinder--buttons i {
  font-size: 32px;
  vertical-align: middle;
}

.fa-heart {
  color: #FFACE4;
}

.fa-remove {
  color: #CDD6DD;
}

/**End of test*/
